/*トップアイテム*/
.topitem {
    text-align:center;
    color: #fff;
    padding: 15% 5%; 
}
.topitem_ {
    font-size: 70px;
}
.topitem__ {
    font-size: 30px;
}

/*メインテキスト*/
.maintext {
    background-color: #fff; 
    text-align:center;
    padding: 30px 30px 30px 30px; 
}
.maintext h1{
    font-size: 50px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-top: 6px double #000;
  border-bottom: 6px double #000;
}
.maintext p{
    font-size: 25px;
    padding-top: 80px;
    padding-bottom: 80px;
}
/*寄付項目*/
.box{
    border: 5px solid orange;
    border-radius: 10px;
    background-color: darkkhaki;
    padding: 10px;
    display: inline-block;
}

/*フレックスボックス・コンテナ*/
.container {
    max-width: 0;

    margin: auto;
}
.item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.562);
    padding: 30px 30px 30px 30px;
}
.item:nth-child(even){
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.562);
    padding: 20px;
}
.item h1{
    font-size: 30px;
    padding: 10px 20px 10px 20px;
    border-bottom: 3px dotted #000;
}
.item p{
    font-size: 20px;
    padding: 20px;
}
.item div img{
    flex-basis: 50%;
    padding: 10px;
}
.item__content {
    font-size: 25px;
    flex-basis: 60%;
}
/*フッター*/
footer{
    background-color: dimgray;
    padding: 5px 300px;
}
/* SNS */
ul {
    display: flex;
    justify-content: space-between;
    padding: 10px 35%;
    margin: 0%;
  }
li {
    display: inline-block;
    list-style-type: none;
    font-size: 35px;
}
a {
    color: azure;
    text-decoration: none;
  }
/* コピーライト */
.copy{
    font-size: 15px;
    text-align:center;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 10px;
}




/*レスポンシブ*/
@media (max-width: 640px){
    /*トップアイテム*/
    .topitem {
        text-align:center;
        color: aliceblue;
        padding: 200px 5px;
    }
    .topitem_ {
        font-size: 35px;
    }
    .topitem__ {
    font-size: 15px;
    }
    /*フレックスボックス・コンテナ*/
    .item {
        flex-direction:  column !important;
        align-items: stretch;
    }
    .maintext h1{
        font-size: 25px;
        padding: 5px;
    }
    .maintext p{
        font-size: 15px;
        padding-top: 20px;
    }
    /*フッター*/
    footer{
        background-color: dimgray;
        padding: 5px 15px;
    }
    ul {
        display: flex;
        justify-content: space-between;
        padding: 0 40px;
        margin: 0%;
    }
    li {
        display: inline-block;
        list-style-type: none;
        font-size: 25px;
    }
    a {
        color: azure;
        text-decoration: none;
      }
}
